<%- include ("./partials/messages"); %>
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome Chito</p>
<div class="row mt-4">
  <div class="card mx-auto" style="width: 25rem">
    <div class="card-body">
      <h5 class="card-title">New Entry</h5>
      <p class="card-text">
        Add a new stock to the database
      </p>
      <a href="/newEntry" class="btn btn-secondary">Add New Stock</a>
    </div>
  </div>

  <div class="card mx-auto" style="width: 25rem">
    <div class="card-body">
      <h5 class="card-title">Record Transaction</h5>
      <p class="card-text">
        Add a transaction (buy/sell) of an existing stock
      </p>
      <a href="/transaction" class="btn btn-secondary">Record Transaction</a>
    </div>
  </div>

  <div class="card mx-auto" style="width: 25rem">
    <div class="card-body">
      <h5 class="card-title">Check Stock History</h5>
      <p class="card-text">Check history of an existing stock</p>
      <a href="/checkStock" class="btn btn-secondary">Check History</a>
    </div>
  </div>

</div>
