<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fa fa-plus"></i> New Entry</h1>
      <%- include ("./partials/messages"); %>
      <form action="/newEntry" method="POST">
        <div class="form-group">
          <label for="stock" class="form-label">Stock name</label>
          <input
            type="stock"
            id="stock"
            name="stock"
            class="form-control"
            placeholder="Enter Stock Name"
            value="<%= typeof stock != 'undefined' ? stock : '' %>"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary btn-block"
          style="margin-top: 10px"
          id="submit"
          onclick="show()"
        >
          Submit
        </button>
      </form>
      <p class="lead mt-4">
        <a href="/">Back to Dashboard</a>
      </p>
    </div>
  </div>
</div>
