<%- include ("./partials/messages"); %>
<h1 class="mt-4">Results</h1>
<p class="lead mt-4">
  <a href="/">Back to Dashboard</a>
</p>
<p class="lead mt-4">
  <a href="/checkProfit">Back to Check Profit</a>
</p>

<div class="row mt-4">
    <%- include ("./partials/tables"); %>
</div>
